name: VSCODE vsix

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install    
      - name: install vsce globally
        run: npm install -g vsce
      - name: Generate build
        run: npm run package
      - name: List current direcory files
        run: ls -l
      - name: Move build
        run: mv *.vsix releases
      # Share artifact inside workflow
      - name: Share artifact inside workflow
        uses: actions/upload-artifact@v1
        with:
         name: helloworld
         path: releases
