name: VSCODE vsix

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%d-%m-%Y')"
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install    
      - name: install vsce globally
        run: npm install -g vsce
      - name: Generate build
        run: npm run package
      - name: List releases/${{ steps.date.outputs.date }} direcory stats
        run: echo releases/${{ steps.date.outputs.date }}.stat.exists
      - name: create folder of current date
        if: releases/${{ steps.date.outputs.date }}.stat.exists == 'false'
        run: mkdir releases/${{ steps.date.outputs.date }} && ls -l releases
      - name: Move build
        run: mv *.vsix releases/${{ steps.date.outputs.date }}
      # Share artifact inside workflow
      - name: Share artifact inside workflow
        uses: actions/upload-artifact@v1
        with:
         name: ${{ steps.date.outputs.date }}
         path: releases/${{ steps.date.outputs.date }}
      
